.globalTitle {
  margin: 5rem 0 3rem 0;
  font-family: 'Montserrat' sans-serif;
  font-size: 28px;
  text-align: center;
  color: #0073E6;
  font-weight: 600;
  text-transform: uppercase;
}
.topBannerFixed {
  background-image: url('../image/banner.jpg');
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.bannerOverlay {
  position: absolute;
  width: 100%;
  min-height: 600px;
  background: rgba(0,0,0,0.7);
}
.topBannerContent {
  margin-top: 10rem;
}
.topBannerContent h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  letter-spacing: 1px;
}
.topBannerContent h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}


.serviceCard {
  margin-bottom: 15px;
  padding:60px 30px;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
  height: 22rem;
  transition: 0.3s;
}
.serviceCard:hover {
  box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}
.serviceCardTitle {
  font-family: 'Raleway' sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1rem;
}
.serviceCardSubTitle {
  font-family: 'Raleway' sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7F7E7E;
}

.navTitle {
  color:#fff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.navTitleScroll {
  color:#0073E6 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.navbarTransparent {
  background-color: rgba(0,0,0,0.1) !important;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;;
  -ms-transition: background-color 400ms linear;
-o-transition: background-color 400ms linear; 
transition: background-color 400ms linear;
}
.navbarWhite {
  background-color: #fff !important;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;;
  -ms-transition: background-color 400ms linear;
-o-transition: background-color 400ms linear; 
transition: background-color 400ms linear;
}
.linkColorWhite {
  color: #fff !important;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.linkColorBlack {
  color: #000 !important;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}



.analysisContent p {
  font-family: 'Raleway' sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #7F7E7E;
}