.globalTitle {
  margin: 5rem 0 3rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  text-align: center;
  color: #0073E6;
  font-weight: 600;
  text-transform: uppercase;
}
.form-control:focus {
  border-radius: 2px;
  border-color: #0073E6;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}
.mt-5rem {
  margin-top: 5rem;
}
.topBannerFixed {
  background-image: url('../image/home-banner.jpg');
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.bannerOverlay {
  position: absolute;
  width: 100%;
  min-height: 600px;
  background: rgba(0,0,0,0.7);
}
.topBannerContent {
  margin-top: 14rem;
}
.topBannerContent h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  letter-spacing: 1px;
}
.topBannerContent h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}


.serviceCard {
  margin-bottom: 15px;
  padding:60px 30px;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
  height: 22rem;
  transition: 0.3s;
}
.serviceCard:hover {
  box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}
.serviceCardTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1rem;
}
.serviceCardSubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2b2b2b;
}

.navTitle {
  color:#fff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.navTitleScroll {
  color:#0073E6 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.navbarTransparent {
  background-color: rgba(0,0,0,0.1) !important;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;;
  -ms-transition: background-color 400ms linear;
-o-transition: background-color 400ms linear; 
transition: background-color 400ms linear;
}
.navbarWhite {
  background-color: #fff !important;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;;
  -ms-transition: background-color 400ms linear;
-o-transition: background-color 400ms linear; 
transition: background-color 400ms linear;
}
.linkColorWhite {
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.linkColorWhite:hover {
  text-decoration: none;
  color: #fff;
}
.linkColorWhite.active {
  color: #00a8ee;
}
.linkColorBlack {
  color: #2b2b2b;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.linkColorBlack.active {
  color: #00a8ee;
}



.analysisContent p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2b2b2b;
}

.summaryBannerFixed {
  background-image: url('../image/banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 350px;
}
.summaryBannerOverlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  min-height: 350px;
}
.counterSection {
  margin-top: 15%;
}
.counterNumber {
  color: #fff;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.counterTitle {
  color: #fff;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.counterCard {
  margin-top: 15%;
  border-radius: 2px;
  padding: 10px;
}
.counterCardTitle {
  color:#2b2b2b;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.counterCardSubTitle ul {
  margin: 0;
  padding: 0;
}
.counterCardSubTitle ul li {
  list-style-type: none;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2b2b2b;
  margin-bottom: 10px;
}
.counterIconColor {
  color: #0073E6;
  font-size: 16px;
}
.RecentProjectsCard {
  border-radius: 2px;
  margin: 2px;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
  transition: 0.5s;
}
.RecentProjectsCard:hover {
  box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}
.RecentProjectsCardTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.RecentProjectsCardSubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.CourseTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.CourseSubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.CourseLink {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0073E6;
}
.VideoCard {
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
  padding: 5rem;
  transition: 0.5s;
  text-align: center;
  margin: 70px auto;
}
.VideoCard:hover {
  box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}
.VideoCardTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #0073E6;
}
.VideoCardDes {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.VideoPlayIcon{
  color: #0073E6;
  font-size: 48px;
  cursor: pointer;
}
.ReviewSlider {
  justify-content: center;
  text-align: center;
}
.ReviewImage {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #0073E6;
}
.ReviewSliderTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1rem;
}
.ReviewSliderDes {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2b2b2b;
}
.Footer {
  margin-top: 5rem;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}
.Footer h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.Footer ul  {
  margin: 0;
  padding: 0;
}
.Footer ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2b2b2b;
  list-style-type: none;
  line-height: 1.8;
}
.Footer ul li a {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  text-transform: capitalize;
}
.Footer ul li a:hover {
  color: #0073E6;
  text-decoration: none;
}
.Footer ul.SocialLink li a  {
  text-decoration: none;
  color: #0073E6;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.Footer ul.SocialLink li a:hover {
  text-decoration: none;
  color: #2b2b2b;
}
.CopyRight {
  color: #ffffff;
  font-family: 'Montserreat',sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  background-color: #0073E6;
  transition: 0.3s;
  text-align: center;
}
.TopBannerAllFixed {
  background-image: url('../image/banner.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
.TopBannerAllOverlay {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  min-height: 400px;
}
.TopBannerContentAll {
  margin-top: 12rem;
}
.TopBannerContentAll h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  letter-spacing: 1px;
}
.AboutUsContent {
  margin: 0 0 2rem 0;
}
.AboutUsContent h2 {
  color:#2b2b2b;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.AboutUsContent p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2b2b2b;
  text-align: justify;
}
.ContactSection {
  padding: 4rem 0 0 0;
}
.ContactSection h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.ContactSection ul  {
  margin: 0;
  padding: 0;
}
.ContactSection ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #2b2b2b;
  list-style-type: none;
  line-height: 2.2;
}
.ContactSection ul li a {
  color: #2b2b2b;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  text-transform: capitalize;
}
.ContactSection ul li a:hover {
  color: #0073E6;
  text-decoration: none;
}
.RefundPolicy ul {
  padding-top: 4rem;
}
.RefundPolicy ul li {
  margin-bottom: 1rem;
}
.TermsDiscription p,
.PrivacyDiscription p {
  margin-top: 4rem;
  margin-bottom: 0;
}